/* --- Button Dashboard (Shared Component) --- */
.btn-dashboard {
    position: absolute;
    top: 27px;
    right: 5%;
    width: 70px; height: 70px;
    background-color: var(--gray-primary);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: flex; justify-content: center; align-items: center;
    z-index: 100;
    transition: transform var(--transition-speed);
}

.btn-dashboard:hover { transform: scale(1.05); }

.dashboard-icon {
    width: 45px; height: 45px;
    background-color: var(--accent-purple);
    -webkit-mask-image: var(--svg-dashboard-icon);
    mask-image: var(--svg-dashboard-icon);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}